BOT_TOKEN=YOUR_BOT_TOKEN
APPLICATION_ID=YOUR_APPLICATION_ID
PUBLIC_KEY=YOUR_PUBLIC_KEY
RANDOM_STRING_LENGTH=8
SLEEP_TIME1=45
MAX_TEAM_SIZE=4
DUEL_TIME=40
TOTAL_CHECKS=8
SLEEP_TIME=300
Q1score=3
Q2score=5
Q3score=7
MIN_TEAMS=2
Q1match=3
Q2match=5
Q3match=7
Q4match=9
Q5match=11
MATCH_TIME=2
MQues=5
